.clear {
  background: transparent;
  border: none;
  color: white;
}

.solid {
  background: white;
  border: none;
  color: rgb(4, 201, 76)
}

.outline {
  background: transparent;
  color: white;
  border: 1px solid white;
}

.Error {
  background: red;
  color: white;
  display: none;
}

button:active {
  opacity: 0.8;
}

button[disabled] {
  background-color: rgb(239, 239, 244);
  opacity: 0.7;
}