/* * {
  margin: 0;
} */

body {
  background-color: rgb(4, 201, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 300px;
}

input, button {
  padding: 10px;
  margin-bottom: 10px;
  width: -webkit-fill-available;
}

button {
  cursor: pointer;
}

button:active {
  opacity: 0.8;
}

button[disabled] {
  background-color: rgb(239, 239, 244);
  opacity: 1.0;
}

.clear {
  background: transparent;
  border: none;
  color: white;
}

.solid {
  background: white;
  border: none;
  color: rgb(4, 201, 76)
}

.outline {
  background: transparent;
  color: white;
  border: 1px solid white;

}

.Error {
  background: red;
  color: white;
  display: none;
}