/* * {
  margin: 0;
} */

body {
  background-color: rgb(4, 201, 76);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  width: 300px;
}

input, button {
  padding: 10px;
  /* margin-bottom: 10px; */
  width: -webkit-fill-available;
}

button {
  cursor: pointer;
  margin-bottom: 10px;
}

.form-field {
  margin-bottom: 10px;
}