* {
    margin: 0;
    padding: 0;
}

.esquerda {
    background-color: rgb(241, 6, 6);
    height: 80px;
    width: 150px;
    margin: 10px;
    padding: 5px;
}

.direita {
    background-color: blue;
    height: 80px;
    width: 150px;
    margin: 10px;
    padding: 5px;
}

/* .container {
    box-sizing: border-box;
    padding: 9px;
    border: solid black 1px;
}

.container::after{
    content: '';
    display: block;
    clear: both;
}

.container .box {

    box-sizing: border-box;
    width: 33.33%;
    height: 30px;
    /* float: left; */
    /* padding: 9px; */
/* } * */