* {
    margin: 0;
    border: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
text-align: center;

}

h1 {
    margin-top: 10px;
}


.vitras {
    background-color: brown;
    border: solid 1px;
    width: 30px;
    height: 10px;
}