*{
  margin: 0;
}

body {
  background: rgb(70, 116, 96);
}

.container {
  display: flex;
  flex-direction: column;
}

.item {

}

.divIMC {
  background-color: rgb(138, 165, 146);
  width: 650px;
  height: 180px;
}

p {
background-color: blueviolet;
color: antiquewhite;
}